.container{
display:       flex;
background-color:#FFFBEB;
height: 10px;
justify-content: space-around;
justify-content: center;
padding: 0px 25px 40px 20px;
margin: 10px;
border: 5px solid black;
z-index: 4;
position: fixed;


}

.one{
background-color:  #070A52;
height: 50px;
height: 45px;
  max-height: fit-content;
  min-width: 400px;
  
}

.two{

  background-color: #070A52; 
  height: 45px;
  max-height: fit-content;
  min-width: 300px;
  
 
}

.home1{
background-color: #FAF3E3;
    height: 60%;
    border-radius: 15px;
    font-size: 110%;
    
}
.shop1{
    background-color: #FAF3E3;
    height: 60%;
    border-radius: 15px;
    font-size: 110%;

}
.collect1{
    background-color: #FAF3E3;
    height: 60%;
    border-radius: 15px;
    font-size: 110%;

}
.blo1{
    background-color: aqua;
    height: 60%;
    border-radius: 15px;

}
.cont1{
    background-color: aqua;
    height: 60%;
    border-radius: 15px;
}
.three{

    background-color: #070A52; 
    height: 45px;
    max-height: fit-content;
    min-width: 300px;
}
.four{

    background-color: #B31312; 
    height: 45px;
    max-height: fit-content;
    min-width: 400px;

}
.five{

    background-color: #B31312; 
    height: 45px;
    max-height: fit-content;
    min-width: 300px;

}
.taskbar{
    display: flex;
    justify-content: space-between;
}
.search1{

background-color: #B31312;
font-size: 100%;
padding: 7px;
margin: 10px;
border: 5px solid rgb(8, 7, 7);
position: fixed;
bottom: 0;
left: 0;



}
.Log{

    background-color: aqua; 
    font-size: 100%;
    padding: 7px;
margin: 10px;
border: 5px solid rgb(8, 7, 7);
position: fixed;
top: 40px;
right: 0;

}
.zero1{
    background-color:aqua;
        height: 60%;
        border-radius: 15px;
        font-size: 120%;
}
.zero{


    background-color: #B31312; 
    height: 45px;
    max-height: fit-content;
    min-width: 300px;


}
